/* ContactPage.css */

.contact-page {
    margin: 5%;
    text-align: center;
    
  }
  body{
    margin: 0;
    padding: 0;

    background-size: cover;
    background-repeat: no-repeat;
  }
  .contact-info {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .contact-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .contact-info p {
    margin-bottom: 5px;
  }
  
  .contact-form {
    margin-bottom: 20px;
  }
  
  .contact-form h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .contact-form form {
    display: grid;
    gap: 10px;
  }
  
  .contact-form label {
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 5px;
  }
  
  .contact-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .contact-form button[type="submit"]:hover {
    background-color: #0056b3;
  }
  .footer p{
    background-color: transparent;
    color:  #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    font-size: 30px ;
    bottom: 0;
    width: 100%;
  }