/* QueensPage.css */
.queens-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .queens-page h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .photo-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .photo-container {
    position: relative;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .photo-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    
  }
  
  .description h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .description ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .description ul li {
    margin-bottom: 5px;
  }
  
  .arrow-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  
  .arrow-buttons button {
    font-size: 30px;
    margin: 0 20px;
    background-color: #fff;
    color: #000;
    border: none;
    cursor: pointer;
  }

  .arrow-buttons button:focus {
    outline: none;
  }
  
    /* Footer */
    .footer p{
        background-color: transparent;
        color:  #fff;
        padding: 20px;
        text-align: center;
        position: fixed;
        left: 0;
        font-size: 30px ;
        bottom: 0;
        width: 100%;
      }
  .footer p {
    font-size: 14px;
  }
  
  /* Media Query for Responsive Design */
  @media (max-width: 768px) {
    .queens-page {
      padding: 10px;
    }
  }
  